<%= label_tag :fullname %>
<h4> <%= @user_profile.fullname %> </h4>

<%= label_tag :slug_name %>
<h4> <%= @user_profile.slug_name %> </h4>

<%= label_tag :age %>
<h4> <%= @user_profile.age %> </h4>

<%= label_tag :email %>
<h4> <%= @user_profile.user.email %> </h4>

<%= label_tag :description %>
<h4> <%= @user_profile.description %> </h4>

<%= link_to "Editar", edit_user_profile_path(@user_profile) %>